// Twitter To Do index view
extends layout

block content
	p Welcome to your Twitter Login for the Task Management Website
	p No new password to remember and you only have to log in with Twitter once.
	p
		a(href='/auth/twitter') Log in with Twitter